# node.client = false
# node.data = true
# node.master = true
# node.local = false
# cluster.name = enonic-es-cluster

# path = ${xp.home}/repo/index
# path.data = ${path}/data
# path.work = ${path}/work
# path.conf = ${path}/conf
# path.logs = ${path}/logs
# path.plugins = ${path}/plugins

# http.enabled = true
# network.host = _non_loopback:ipv4_
